* {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .content-table {
    border-collapse: collapse;
    background-color: white;
    color: black;
    margin: 60px 0;
    margin-left: 5px;
    font-size: 0.9em;
    min-width: 80%;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .content-table thead tr {
    background-color: #2D8AE0;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
    text-align: center;
  }
  
  .border-color {
    width: 100%;
    color: black;
    padding: 8px 12px;
    margin: 2px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #303234;
  }
  
  .border-color-quantity {
    width: 100%;
    color: black;
    background-color: #f36a6a;
    padding: 8px 12px;
    margin: 4px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #303234;
  }